#nav {
  float: left;
  width: 100%;
  list-style: none;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0; /* Убираем отступы по умолчанию */
}

#nav li {
  float: left;
  width: auto; /* Ширина по содержимому */
  position: relative;
  display: block;
}

#nav li a {
  display: block;
  padding: 10px 15px; /* Увеличиваем отступы для лучшего вида */
  color: #fff;
  background: #333;
  text-decoration: none;
  transition: background 0.4s; /* Плавное изменение фона */
  text-shadow: 1px 1px 1px black;
  border-radius: 2px;
}

#nav li a:hover {
  color: #fff;
  background: rgba(255, 204, 0, 0.75); /* Желтый фон с прозрачностью */
  text-decoration: none;
}

#nav ul {
  list-style: none;
  position: absolute;
  left: -9999px; /* Скрываем подменю */
  opacity: 0;
  transition: opacity 0.25s linear; /* Плавное появление */
  padding: 0; /* Убираем отступы по умолчанию */
  margin: 0; /* Убираем отступы по умолчанию */
  background: #444; /* Фон подменю */
  border-radius: 2px;
}

#nav ul li {
  padding-top: 1px;
  float: none;
  width: 100%; /* Ширина подменю */
}

#nav ul a {
  white-space: nowrap;
  display: block;
  padding: 8px 15px; /* Отступы для пунктов подменю */
  color: #fff; /* Цвет текста */
  background: #444; /* Фон пунктов подменю */
  transition: background 0.4s; /* Плавное изменение фона */
}

#nav li:hover ul {
  left: 0; /* Показываем подменю */
  opacity: 1;
}

#nav li:hover ul a {
  text-decoration: none;
}

#nav li:hover ul li a:hover {
  background: rgba(51, 51, 51, 0.5); /* Фон при наведении на пункт подменю */
  text-decoration: none;
  transform: scale(1.05); /* Увеличение пункта при наведении */
}